
.wrap {
 /**   background-image: url('wolf.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: cover;*/
    width: 100%;
    height: 650px;
    position: absolute;
}

.parentwrap {
    position: relative;
    top: 0px;
    left: 0px;
    height: 650px;
    overflow: hidden;
}

.second {
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: green;
    opacity: 0.5;
}

.wrap img {
    width: 100%;
    margin: auto;
}


body {
    margin: 0px;
}


