
@import url('css/font-awesome.min.css');

.main {
    width: 800px;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    -o-box-shadow: 5px 5px 50px -20px black;
    -webkit-box-shadow: 5px 5px 50px -20px black;
    -moz-box-shadow: 5px 5px 50px -20px black;
    
    box-shadow: 5px 5px 50px -20px black;
}

.permalink {
    background-image: url('rating.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
    background-position: scroll;
    width: 73%;
    height: 250px;
    float: left;
}

.emotions {
    width: 22%;
    float: left;
    padding: 20px;
}

.fa {
    font-size: 200px;
}

