
@import url('css/font-awesome.min.css');

.main {
    width: 705px;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    height: 250px;
    margin-bottom: 200px;
    -o-box-shadow: 5px 5px 50px -20px black;
    -webkit-box-shadow: 5px 5px 50px -20px black;
    -moz-box-shadow: 5px 5px 50px -20px black;
    
    box-shadow: 5px 5px 50px -20px black;
}

.permalink {
    background-image: url('rating.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
    background-position: scroll;
    width: 480px; 
    height: 250px;
    float: left;
}

.emotions {
    width: 185px; 
    float: left;
    padding: 20px;
    background-color: green;
    color: #2B2D00;
    padding-bottom: 40px;
}

.fa-3x {
    font-size: 200px;
}

.rate {
    position: relative;
    top: -250px;
    left: 40px;
    color: #2B2D00;
    background-color: green;
    width: 60px;
    text-align: center;

}

body {
    background-color: #646765;

}

h2 {
	margin: 0px;
}