
@import url('font-awesome.css');
	
@font-face {
	font-family: 'PontanoSans';
	font-weight: 300;
	font-style: normal;
	src: local('PontanoSans Regular'), local('PontanoSans-Regular'), url(PontanoSans-Regular.ttf) format('truetype');

}

* {
	border: 0px;
	padding: 0px;
	font-family:'PontanoSans', sans serif;
	font-style: bold;


}

body {
	background-image: url('seek.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
	
.wrap {
	background-color: black;
	color: white;
	width: 700px;
	margin: auto;
	margin-top: 100px;
	overflow: hidden;
	opacity: 0.9;

	-webkit-box-shadow: 1px 1px 17px 0px black;
	-moz-box-shadow: 1px 1px 17px 0px black;
	-o-box-shadow: 1px 1px 17px 0px black;
	box-shadow: 1px 1px 17px 0px black;
}
.icon {
	float: left;
	padding: 15px;
	width: 40px;
	background-color: white;
	color: black;
	text-align: center;
}

.first .icon {
	background-color: #2ECC71;
}

.first #menu-name {
	transition: 500ms ease-in;
}

.first #menu-name:hover {
	background-color: #2ECC71;
}
		
.second {
	clear: left;
}

.second #menu-name {
	transition: 500ms ease-in;
}

.second #menu-name:hover {
	background-color: #3498DB;
}

.second .icon {
	background-color: #3498DB;
}
	
.third {
	clear: left;
}

.third #menu-name {
	transition: 500ms ease-in;
}

.third #menu-name:hover {
	background-color: #9B59B6;

}

.third .icon {
	background-color: #9B59B6;
}

.forth {
	clear: left;
}

.forth #menu-name {
	transition: 500ms ease-in;
}

.forth #menu-name:hover {
	background-color: #E67E22;
}

.forth .icon {
	background-color: #E67E22;
}

#menu-name {
	float: left;
	font-size: 16px;
	font-weight: 200px;
	padding: 8px;
	width: 155px;
}

ul {
	list-style: none;
}

.left {
	width: 250px;
	float: left;
}

.hidden {
	float: left;
	position: relative;
	font-size: 16px;
	background-image: url('seeker1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.hidden img {
	width: 100%;
	height: auto;
}


#first-sub {
	position: absolute;
	top: 0px;
	padding:0px;
	width: 200px;
	background-color: black;
	z-index: -1;
	height: 325px;
	border-left: 5px solid #2ECC71;
}




#first-sub  h4 {
	padding: 10px;
	transition: 200ms ease-in;
}

#first-sub h4:hover {
	background-color: #2ECC71;
}

	
#second-sub {
	position: absolute;
	top: 0px;
	padding:0px;
	width: 200px;
	height: 325px;
	background-color: black;
	z-index: -1;
	border-left: 5px solid #3498DB;
	
}

#second-sub h4 {
	padding: 10px;
	transition: 200ms ease-in;
}

#second-sub h4:hover {
	background-color: #3498DB;
}

#third-sub {
	position: absolute;
	top: 0px;
	width: 200px;
	background-color: black;
	z-index: -1;
	height: 325px;
	border-left: 5px solid #9B59B6;
	
}

#third-sub h4 {
	padding: 10px;
	transition: 200ms ease-in;
}

#third-sub h4:hover {
	background-color: #9B59B6;
}

#forth-sub {
	position: absolute;
	top: 0px;
	border-left: 5px solid #E67E22;

	width: 200px;
	background-color: black;
	z-index: -1;
	height: 325px;
}

#forth-sub h4 {
	padding: 10px;
	transition: 200ms ease-in;
}

#forth-sub h4:hover {
	background-color: #E67E22;
}
