
@font-face {
	font-family: 'Righteous';
	font-weight: 200;
	font-style: normal;
	src: local('Righteous Regular'), local('Righteous-Regular'), url(Righteous/Righteous-Regular.ttf) format('truetype');
}


* {
	padding: 0px;
	border: 0px;
	font-family: 'Righteous', sans serif;
	color: white;
}

body {
	background-image: url('exchanger.jpg');
	background-size: cover;
	background-attachment: scroll;
}

.wrap {
	width: 700px ;
	background-color: black;
	opacity: 0.5;
	height: 400px;
	margin: auto;
	margin-top: 100px;
}

.left {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-moz-transform-origin: 39px;
	-webkit-tranform-origin: 39px;
	transform-origin: 39px;
	background-color: green;
	text-align: center;
	width: 400px;
	margin: 0px;
	display: inline-block;
	position: relative;
}

.left h2 {
	font-size: 65px;
	margin: 0px;
}

.middle {
	width: 60%;
	display: inline-block;
}

.bottom {
	width: 100%;
	color: white;

} 

.bottom h5 {
	color: white;
}
