
@import url('css/font-awesome.css');

@font-face {
    font-family: 'DroidSansMono';
    src: local('DroidSansMono DroidSansMono'),url(DroidSansMono/DroidSansMono.ttf) format('truetype');
}

body {
    margin: 0px;
    font-family: 'DroidSansMono';
}

p {
    margin: 0px;
}

ul li {
    display: inline-block;
    margin-right: 20px;   
    margin-left: 20px;
    padding-bottom: 4px;
    border-bottom: 5px solid #3498DB;
    font-weight: bold;
}

ul li:nth-child(2) {
    border-bottom: 5px solid #9B59B6;
}
ul li:nth-child(3) {
    border-bottom: 5px solid #F1C40F;
}
ul li:nth-child(4) {
    border-bottom: 5px solid #E67E22;
}

ul {
    width: 60%;
    float: left;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#search {
    float: right;
}

#menu {
    background-color: gray;
    overflow: hidden;
    margin: 0px;
    color: white;
    padding: -5px;
    
}


input[type="text"] {
    font-family: 'DroidSansMono';
    padding: 5px;
    padding-left: 15px;
    margin-top: 15px;
    margin-right: 10px;
    border: 0px solid white;
    border-radius: 50px;
}

#content {
    background-image: url('back.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    overflow: hidden;
}

#post{
    width: 357px;
    height: 200px;
    margin: 40px;
    float: left;
    box-shadow: 5px 5px 50px -20px black;
    position: relative;
}

.show {
    position: absolute;
}

.hidden {
    position: absolute;
    display: none;
    width: inherit;
    height: 200px;
    opacity: 0.6;
    text-align: center;
    background: -webkit-linear-gradient(180deg,gray,white);
    background: -moz-linear-gradient(180deg,gray,white);
    background: -o-linear-gradient(180deg,gray,white);

    background: linear-gradient(180deg,gray,white);
}

h4 {
    background-color: gray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    padding-left: 3px;
}


#post img {
    width: 100%;
    height: auto;
}

