
@import url('font-awesome.css' );


@font-face {
	font-family: 'BlackOpsOne';
	font-weight: 200;
	font-style: normal;
	src: local('BlackOpsOne Regular'), local('BlackOpsOne-Regular'), url(BlackOpsOne/BlackOpsOne-Regular.ttf) format('truetype');
}


*{
	padding: 0px;
	margin: 0px;
	font-family: 'BlackOpsOne';
}

body {
	background-image: url('gamee.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.wrap {
	width: 845px;
	margin: auto;
	margin-top: 100px;
	padding: 30px;
	-webkit-background-origin: content;
	-moz-background-origin: content;
	background-origin: content;
	overflow: hidden;
	-webkit-box-shadow: 5px 5px 25px -5px gray;
	-moz-box-shadow: 5px 5px 25px -5px gray;
	-o-box-shadow: 5px 5px 25px -5px gray;
	box-shadow: 5px 5px 25px -5px gray;
	transition: 500ms ease-in;
}

.wrap:hover {
	
	-webkit-box-shadow: inset 5px 5px 25px -5px gray;
	-moz-box-shadow: inset 5px 5px 25px -5px gray;
	-o-box-shadow: inset 5px 5px 25px -5px gray;
	box-shadow: inset 5px 5px 25px -5px gray;
}

.left-div {
	width: 350px;
	float: left;
}

.left-div img {
	width: 100%;
	height: auto;
}

.right-div {
	width: 455px;
	background-color: #A7CEDD;
	float: left;
	background: -webkit-linear-gradient(to right, #E67E22, #D35400);
	background: -moz-linear-gradient(to right,#E67E22,#D35400);
	background: -o-linear-gradient(to right,#E67E22,#D35400);
	background: linear-gradient(to right,#E67E22,#D35400);
	opacity: 1;
	color: white;
	overflow: hidden;
        padding: 20px;
        height: 234px;
}

.right-div h1 {
	padding: 10px;
}

#heading {
	width: 40%;
	float: left;
}
#timing {
	width: 50%;
	float: left;
	padding: 0px;
	padding-top: 8px;
        border-left: 0px;
        transition: border-left 0.6s ease-out,opacity 0.9s;
        
}
#timing:hover {
        border-left: 5px solid #C0293B;
        opacity: 2;       
}

#time {
	float: left;
	display: inline-block;
}	

#place {
	float: left;
	width: 50%;
}

#second {
	clear: both;
	padding-left: 5px;
}

#rating {
	text-align: center;
}

#social-links .icon {
	text-align: center;
}
#social-links .icon>i{ 
	padding: 15px;
}

#apply {
	background-color: #C0392B;
        width: 53%;
        float:  left ;
	padding: 23.5px;
	color: white;
	text-align: center;
        background: -moz-linear-gradient(180deg, #E74C3C, #C0392B);
        background: -webkit-linear-gradient(180deg, #E74C3C, #C0392B);
        background: -o-linear-gradient(180deg, #E74C3C, #C0392B);
        background: linear-gradient(180deg, #E74C3C, #C0392B);
}

#apply:hover {
        background: -moz-linear-gradient(0deg, #E74C3C, #C0392B);
        background: -webkit-linear-gradient(0deg, #E74C3C, #C0392B);
        background: -o-linear-gradient(0deg, #E74C3C, #C0392B);
        background: linear-gradient(0deg, #E74C3C, #C0392B);
        -moz-box-shadow: 1px 1px 2px -1px #E74C3C;
        -webkit-box-shadow: 1px 1px 2px -1px #E74C3C;
        -o-box-shadow: 1px 1px 2px -1px #E74C3C;
         box-shadow: 1px 1px 2px -1px #E74C3C;
        
}
 
span {
    color:#C0392B ;
}

input[type="button"] {
	
}


a{	text-decoration: none;
	color: white;
	
}
#time {
	padding-left: 2px;
}


.left-div img:hover {
    border-radius: 50%;
    transition: border-radius 500ms ease-in;
}
    
