
.wrap {
    width: 350px;
    margin: auto;
}

#first-time {
    background-color: black;
    color: white;
}

h1 {
    font-size: 100px;
    margin: 0px;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-weight: normal;
    padding: 5px;
    margin: 0px;
}

