/** 
    Author: Dhananjayan
*/

@font-face {
    font-family: 'Open Sans';
    font-weight: 20;
    font-style: normal;
    src: local('OpenSans Regular'), local('OpenSans-Regular'), url(OpenSans/OpenSans-Regular.ttf) format('truetype');
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans serif;
    font-weight: 10px;
  }

#menu {
    margin-bottom: 20px;

    overflow: hidden;
}

#pic{
    float: left;
    width: 200px;
    height: 100px;

}
p {
    word-spacing: 1mm;
   margin-top: 5px;
    margin-bottom: 5px;
}

.first p:before {
    content: "   ";
}

#pic img {
    width: 100%;
    height: auto;
}

.image-sec {
    overflow: hidden;
}

#word {

    padding-right: 50px;
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;

}

ul li{
    list-style: none;
    display: inline-block;
}

ul li {
    font-weight: 200px;
    font-size: 20px;
    padding: 8px;
}

ul li:hover {
    background-color: #E74C3C;
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.6s, opacity 0.9s;
}

ul li:focus {
    background-color: #700800;
}

a {
    color: black;
}


#flexslide {
    clear:both;
    padding-bottom: 20px;
    position: relative;
}

#flexslide img {
    width: 100%;
    height: auto;
    -moz-box-shadow: 0px 1px 5px -1px; 
    -webkit-box-shadow: 0px 1px 5px -1px;
    -o-box-shadow: 0px 1px 5px -1px;
    box-shadow: 0px 1px 5px -1px;
}
       
.wrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.full {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 50px -5px black;
    -moz-box-shadow: 0px 10px 50px -5px black;
    -o-box-shadow: 0px 10px 50px -5px black;
    box-shadow: 0px 10px 50px -5px black;
}

.first {
    width: 297px;
    padding: 10px;
    margin: 20px;
    float: left;
    position: relative;
    -webkit-box-shadow: 0px 1px 10px -4px black;
    -moz-box-shadow: 0px 1px 10px -4px black;
    -o-box-shadow: 0px 1px 10px -4px black;
    box-shadow: 0px 1px 10px -4px black;
}

.hidden {
    position: absolute;
    width: 290px;
    height: 159px;
    padding: 10px;
    top: 5px;
    left: 5px;
    opacity: 0.5;
    background-color: red;
    display: none;
}

#text-con {
    text-align: center;
    font-size: 40px;
}

.hidden h3 {
    text-align: center;
    padding: 15px;
}

.hidden  h5 {
    text-align: center;
    padding: 0px;
}

.first img {
    width: 100%;
    height: auto;
    background-origin: content;
    -webkit-box-shadow: 1px 1px 5px -1px;
    -moz-box-shadow: 1px 1px 5px -1px;
    -o-box-shadow: 1px 1px 5px -1px;
    box-shadow: 1px 1px 5px -1px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.first img:hover  {
    -moz-transform: scale(1.5);
    -webkit-transfrom: scale(1.5);
    transform: scale(1.5);
    
}
#con-text {
    position: absolute;
    top: 100px;
    left: 60px;
}

input {
    margin-top: 30px;
    border:2px solid white;
    color: white;
    padding: 10px;
    background: -moz-linear-gradient(180deg,#E74C3C,#C0392B);
    background: -webkit-linear-gradient(180deg,#E74C3C,#C0392B);
    background: -o-linear-gradient(180deg,#E74C3C,#C0392B);
    background: linear-gradient(180deg,#E74C3C,#C0392B);
}

input:hover {
    border: 2px solid #E74C3C;
    color: white;
    background: -moz-linear-gradient(0deg,#E74C3C,#C0392B);
    background: -webkit-linear-gradient(0deg,#E74C3C,#C0392B);
    background: -o-linear-gradient(0deg,#E74C3C,#C0392B);
    background: linear-gradient(0deg,#E74C3C,#C0392B);

}


#author {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 800px;
    top: 50px;

}

#author img{
    border-radius: 50%;
}

