/* Title: Game Changer
 * author: Dhananjayan
 */


@font-face {
	font-family: 'BlackOpsOne';
	font-weight: 200;
	font-style: normal;
	src: local('BlackOpsOne Regular'), local('BlackOpsOne-Regular'), url(BlackOpsOne/BlackOpsOne-Regular.ttf) format('truetype');
}

*{
	padding: 0px;
	margin: 0px;

	color: white;
	font-family: 'BlackOpsOne', sans serif;
}


body {
	background-image: url('pic/gamechangebg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.first {
	width: 400px;
	float: left;
	margin: 20px;
	background-color: black;
	position: relative;
	overflow: hidden;

}

.second {
	width:400px;
	float: left;
	margin: 20px;
	background-color: black;
	position: relative;
	overflow: hidden;

}

.third {
	width:400px;
	float: left;
	margin: 20px;
	background-color: black;
	position: relative;
	overflow: hidden;

}

#image-div {
	width: 90%;
	margin: auto;

}

#hidden-div {
	position: absolute;
	background-color: green;
	opacity: 0.5;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#image-div img {
	width: 100%;
	height: auto;
}

#next-div {
	background-color: black;
	color: white;
	
}	

.author img {
	border-radius: 50%;
	padding: 10px;

}

.author-content {
	overflow: hidden;
	clear: both;
	color: white;
}
.author {

	display: block;
	float: left;
	overflow: hidden;
}
.author-details{
	display: block ;
	float: left;
	overflow: hidden;
	padding-top: 23px;
}


.author-details p {
	margin-top: unset;
	font-size: 13px;
	padding-left: unset;
}

.author-comment p {
	font-size: 15px;
	float: left;
}

.author-comment {
	float: right;
	width: 50%;
	background-color:#FBAA48;
	color: black;
	position: relative;
	bottom: 0px;
	right: 0px;
	padding-top: 8px;
	margin-top: 53px;
	background: -webkit-linear-gradient(90deg, gray,#FBAA48);
	background: -o-linear-gradient(90deg, gray, #FBAA48);
	background: -moz-linear-gradient(90deg, gray,#FBAA48);
	background: linear-gradient(90deg, gray,#FBAA48);
}

#hidden-div h2 {
	padding-top: 20px;
	text-align: center;

}

#hidden-div p {
	text-align: center;
}


.icon {
	float:right;
	color: black;
}

.wrap {
	padding-top: 120px;
	over-flow: scoll-x;
	width: 100%;
	margin: auto;
}

